name: Format

on:
  push:
    branches:
      - main

jobs:
  swift_format:
    name: swift-format
    runs-on: ubuntu-latest
    container: swift:6.2
    steps:
      - uses: actions/checkout@v4
      - name: Format
        run: swift format --ignore-unparsable-files --in-place --recursive ./App/ ./MyLibrary/
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "[ci skip] Run swift-format"
          branch: "main"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
