name: Format

on:
  pull_request:
    branches:
      - main

jobs:
  swift_format:
    name: swift-format
    runs-on: ubuntu-latest
    container: swift:6.2
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Format
        run: swift format --ignore-unparsable-files --in-place --recursive ./App/ ./Server/ ./SharedModels/ ./iOS/ ./Website/ ./CfPWebsite/
      - name: Configure safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "[ci skip] Run swift-format"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
